<a href="https://colab.research.google.com/github/izharul-haque/Python-Refresher/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures**

## **List**

In the last session, we had a look at the String data type which could be used to store character values. Now let's try building an application which records a customer's detail and assign it a unique user id number generated randomly.

In [ ]:
#We would ask the user for his name and mobile number
name= input("What's your name ")
number= input("What's your number ")

What's your name Izhar
What's your number 9

In [ ]:
from random import seed
from random import randint

# generate a three digit random integers for user id
value = randint(100, 999)
print(value)

790

In [ ]:
#Now if I want to store these values together I can create a list data type
name= input("What's your name ")
number= input("What's your number ")
value = randint(100, 999)
#Creating a list

What's your name Izee
What's your number 9

In [ ]:
print(name, number, value)

Izee 9 253

## **Lists**

- List are an ordered sequence of mixed data types.
- Llists are written as comma-separated elements within square brackets.

In [ ]:
list1 = (name, number, value)
list1

('Izee', '9', 253)

In [ ]:
# Introduction
L = ["India", 23, 6, "Mumbai"]
L

['India', 23, 6, 'Mumbai']

In [ ]:
# Nested List
L = ['Chemistry', ' Biology', [1994, 2004], 4]
L

['Chemistry', ' Biology', [1994, 2004], 4]

In [ ]:
# Indexing
L[2][1]

2004

In [ ]:
# Slicing
L[1:3]

[' Biology', [1994, 2004]]

In [ ]:
L[:] # to slice elements

['Chemistry', ' Biology', [1994, 2004], 4]

In [ ]:
# to slice first 2 element
L[:-2]

['Chemistry', ' Biology']

In [ ]:
# to slice last 2 elements
L[-2:]

[[1994, 2004], 4]

In [ ]:
# membership in lists
L1 = [1,2,3,4]
print(1 in L1)
print(20 in L1)

True
False

In [ ]:
# List Concatenation
L

['Chemistry', ' Biology', [1994, 2004], 4]

In [ ]:
new_L =L +[5,8]
new_L

['Chemistry', ' Biology', [1994, 2004], 4, 5, 8]

In [ ]:
# Replace " Biology" with " Physics"
L[1] = " Physics"
L

['Chemistry', ' Physics', [1994, 2004], 4]

In [ ]:
# Remove from list
L.remove(4)
L

['Chemistry', ' Physics', [1994, 2004]]

In [ ]:
# Sorting Lists
L = [32, 24, 1, 3, 8]
L.sort()

In [ ]:
I = sorted(L)
print(L)
print(I)

[32, 24, 1, 3, 8]
[1, 3, 8, 24, 32]

In [ ]:
# Shadow Copying
A = ['Orange', 'Apple', 'Pitch', 'Mango']
B = A
print(A, B)

['Orange', 'Apple', 'Pitch', 'Mango'] ['Orange', 'Apple', 'Pitch', 'Mango']

In [ ]:
# to avoid shadow coping
A = ['Orange', 'Apple', 'Pitch', 'Mango']
B = A[:]
B[0] = 'Pineapple'
print(A, B)

['Orange', 'Apple', 'Pitch', 'Mango'] ['Pineapple', 'Apple', 'Pitch', 'Mango']

In [ ]:
L = ["USA", 23, 6, "New York"]

L

['USA', 23, 6, 'New York']

In [ ]:
# Nested List
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
# Indexing
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

'Chemistry'

In [ ]:
L[-3]

'Biology'

In [ ]:
L[-1][-1]

'Pearson'

In [ ]:
# Slicing

L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [ ]:
#Membership in Lists

L1 = [1,2,3,4]
print(1 in L1)  # True
print (8 not in L1)  # True

True
True

In [ ]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [ ]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[1] = "Physics"

L

['Chemistry', 'Physics', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [ ]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [ ]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
del L[0:2]

L

[('Oreily', 'Pearson')]

In [ ]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [ ]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [ ]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [ ]:
l.sort(reverse= True)
l

[65, 32, 24, 9]

#### Difference between sort and sorted

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()
print(A)
print(B)

['Mango', 'Orange', 'Strawberry']
None

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

['Orange', 'Strawberry', 'Mango']
['Mango', 'Orange', 'Strawberry']

#### Shadow Copying

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [ ]:
A

['Apple', 'Strawberry', 'Mango']

In [ ]:
B

['Apple', 'Strawberry', 'Mango']

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]    #Note 'A[:]' is used to call all the values stored in A
#Now B has all the values of A but isn't a shadow copy of A
#Shadow copy is basically assigning multiple labels to a single reference point or memory location

A[0] = "Apple"

In [ ]:
A

['Apple', 'Strawberry', 'Mango']

In [ ]:
B

['Orange', 'Strawberry', 'Mango']

Hmm, that works. But what if I would like to add some security and make user id un-changeable or as we call it in programming - immutable, in that case, we'll use a tuple. 

So in this session, we are going to learn more about another new word or a data type actually which is called "Tuple"

<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequence of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis
- Tuples are immutable unlike list(mutable).

In [ ]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [ ]:
type(t)

tuple

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [ ]:
sample_tuple = 1,2,3,4

print(sample_tuple)

(1, 2, 3, 4)

#### Single value tuple

In [ ]:
sample_tuple = 1,  
print(sample_tuple)

(1,)

In [ ]:
sample_tuple = (1,)  
print(sample_tuple)

(1,)

In [ ]:
sample_tuple1 = 1   # This is not a tuple

In [ ]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [ ]:
t = ("Mumbai", 84, "Python",)

In [ ]:
# gives the element at index location 1
t[1]

84

In [ ]:
# gives the last element from tuple
t[-1]

'Python'

### Slicing

In [ ]:
# Slicing first 3 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[0:3]

('Seattle', 84, 'Python')

In [ ]:
# Slicing last 2 elements from t

t = ("Seattle", 84, "Python", 5, 2, 1)

t[-2:]

(2, 1)

In [ ]:
# no. of elements in tuple t
t = ("Seattle", 84, "Python", 5, 2, 1)
len(t)

6

#### Cancatenating tuples

In [ ]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

('This', 'is', 'Session', 2, 'on', 'Tuples')

#### sum() - min() - max()

In [ ]:
t = (2, 4, 3, 5, 7)
sum(t)

21

In [ ]:
t = (2, 4, 3, 5, 7)
min(t)

2

In [ ]:
t = (2, 4, 3, 5, 7)
max(t)

7

### Immutability of tuples

In [ ]:
t = ("USA", 4, 3, "Disco", 7.5)

t[3] = "Hard Rock"

TypeError: ignored

In [ ]:
new_t = t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

### Sorting a tuple

In [ ]:
t = (2,3,6,4,8,5)

sorted(t)

[2, 3, 4, 5, 6, 8]

In [ ]:
x = sorted(t)

tuple(x)

(2, 3, 4, 5, 6, 8)

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

'Java'

### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

1

#### dir() - to view the attributes or methods of an object

In [ ]:
t = ()
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

Now that we know how to store multiple items together let us build another app that could store userid of our customers, which were randomly generated.

We have the following requirements from the app -
1. It shouldn't store duplicate values in the data-set
2. Since the userid are randomly generated the order doesn't matter
3. We need mutability i.e. if we want to delete a particular value we should be able to do so
4. We might frequently want to check whether a user-id is part of the existing data set so it should be able to perform this operation fast

For this use case, we could either use a unique function and maintain our list, but that would be comparatively time-consuming, so let's look at another data type provided by Python, which would be the best fit here.

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates
- Sets can't be indexed

In [ ]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

{1, 2, 3, 4, 5}

In [ ]:
len(set_l)

5

In [ ]:
a = {1, 2, 3, 4, 5}

a.add("Australia")

a

{1, 2, 3, 4, 5, 'Australia'}

In [ ]:
a = {1, 2, 3, 4, 5, "Australia"}
a.remove("Australia")
a

{1, 2, 3, 4, 5}

In [ ]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [ ]:
print(A | B) # Union
print (A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [ ]:
print(A & B) # Intersection (values that is both in A and B)
print(A.intersection(B))

{2, 4}
{2, 4}

In [ ]:
print(A - B) # Difference (It gives an output what A has but missing in B)
print(A.difference(B))  # only A elements

{0, 8, 6}
{0, 8, 6}

In [ ]:
print(A ^ B) # Symmetric Difference (it's either in A or B but not in both)

{0, 1, 3, 5, 6, 8}

In this session, we are going to talk about dictionaries. In Python, we use dictionaries to store key-value pairs.
Here is an example -
Let's take the example of a customer as seen earlier.
Now a customer could have multiple attributes such as 
1. Name
2. Email
3. Userid
4. Address 
5. Phone number

Now each of these attributes would be our key and corresponding we'll have values against each on them

With a dictionary, we can store a bunch of key-value pairs, let us now see have a look at the 'Dictionary' data type in Python

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [101]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["USA"]

'USD'

In [102]:
# Replace the value for a key in a dictionary

d["USA"] = "$"

d

{'India': 'INR', 'USA': '$', 'France': 'Euros'}

In [103]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

{'India': 'INR', 'USA': '$', 'France': 'Euros', 'Japan': 'Yen'}

In [104]:
# Deleting a key value pair

del d["France"]

d

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

In [105]:
# Sorting a dictionary

sorted(d)

['India', 'Japan', 'USA']

In [106]:
# values() Method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

d.values()

dict_values(['INR', 'USD', 'Euros'])

In [107]:
# Keys() Method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [108]:
# Update() Method

d.update({'USA':'$'})
d

{'India': 'INR', 'USA': '$', 'France': 'Euros'}